﻿
@model SanaAssessment.Data.Model.Product

@{
    ViewBag.Title = "Add new Product";
}

<h3 class="text-muted">Create Product</h3>

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-primary" })
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Title, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Price, "Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default"/>
            </div>
        </div>
        
        @if (ViewBag.ExceptionMessage != null)
        {
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failed!</strong>@ViewBag.ExceptionMessage
        </div>
        }
    </div>
}

@section bodyEnd
{
    <script type="text/javascript">
        setTimeout(function () { $(".alert").alert('close') }, 4000);
    </script>
}

