﻿@model SanaAssessment.Data.Model.Product

@{
    ViewBag.Title = "Delete Product";
}

<h3 class="text-muted">Delete Product</h3>

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>

<div class="col-md-offset-2 col-md-8">
    <h3>Are you sure you want to delete this product?</h3>
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>Title</dt>
        <dd>@Model.Title</dd>

        <dt>Price</dt>
        <dd>@Model.Price</dd>
    </dl>
@using (Html.BeginForm("ConfirmDelete", "Products", new { Id = Model.Id }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
    </div>
}
</div>
