﻿@model IEnumerable<SanaAssessment.Data.Model.Product>
@{
    ViewBag.Title = "Products";
}
<h3 class="text-muted">List of Products</h3>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<section id="details">
    <table class="table">
        <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Price</th>
            <th>&nbsp;</th>
        </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Price</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { Id = item.Id }, new { data_delete = item.Id, data_toggle="confirmation", data_on_confirm="deleteProduct" })
            </td>
        </tr>
    }
    </table>
</section>

@section bodyEnd
{
}