﻿<!DOCTYPE html>
@{
    Dictionary<SanaAssessment.Data.Repository.RepositoryType, String> storageTypes = new Dictionary<SanaAssessment.Data.Repository.RepositoryType, String>();
    storageTypes.Add(SanaAssessment.Data.Repository.RepositoryType.InMemory, "In Memory");
    storageTypes.Add(SanaAssessment.Data.Repository.RepositoryType.SqlCe, "SQL CE");
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")
</head>
<body>
    <nav class="nav navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Storage Type: @(storageTypes[ViewBag.StorageType]) <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @foreach (var pair in storageTypes)
                        {
                            if (ViewBag.StorageType != pair.Key)
                            {
                                <li>@Html.ActionLink(pair.Value, "Change", "Storage", new { type = pair.Key }, null)</li>
                            }
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap_confirmation")
    @RenderSection("bodyEnd", required: false)
</body>
</html>
