﻿body
{
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
}
/*
    font-size: .85em;
    color: #232323;
    background-color: #fff;
    height:100%;
    margin:0;

header,
footer,
nav,
section {
    display: block;
}

h2 
{
	padding: 10px;
}	

*/